.mission-container {
  margin-top: 30px;

  .titles {
    display: grid;
    grid: auto / 200px auto 180px 180px;
    margin-left: 30px;
  }

  .mission-item {
    display: grid;
    grid: auto / 200px auto 180px 180px;
  }

  .mission-name,
  .mission-badge-container,
  .mission-action-container,
  .mission-description {
    margin: 10px;
  }

  .mission-action-container,
  .mission-badge-container {
    display: flex;
    align-items: center;
    height: 100%;

    .active-member-badge {
      background-color: #18a2b8;
      padding: 0 10px 0 10px;
      border-radius: 10px;
      color: #fff;
    }

    .not-a-member-badge {
      background-color: #6d757d;
      padding: 0 10px 0 10px;
      border-radius: 10px;
      color: #fff;
    }

    .join-mission-button {
      border: 2px solid #343a40;
      background-color: #fff;
      padding: 8px;
      border-radius: 10px;
    }

    .leave-mission-button {
      border: 2px solid #dc3645;
      color: #dc3645;
      padding: 8px;
      background-color: #fff;
      border-radius: 10px;
    }
  }

  ul {
    li:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }

  .border-container {
    border: 2.5px solid #dee2e6;
  }
}
